@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  line-height: 1.8;
}

.EventList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  justify-content: center;
  padding: 0% 4%;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

.display-none {
  display: none;
}
.showSuggestions {
  display: block;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.city {
  width: 250px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  max-width: 300px;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  z-index: 2;
  align-self: center;
  margin: 0;
  top: 66px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: pointer;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
}

.event .title {
  font-size: 20px;
}

.event:hover {
  border: 1px solid;
  transition: 0.4s;
}

.event-details {
  margin-bottom: 15px;
}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  overflow: hidden;
  border: 2px solid;
  transition: color 0.5s;
  z-index: 1;
}

.btn-details:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.btn-details:hover {
  color: var(--primary-color);
}

.btn-details:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.btn-details:hover:before {
  top: -30px;
  left: -30px;
}

.btn-details:active:before {
  background: var(--primary-color);
  transition: 0s;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.numberOfEvents {
  width: 200px;
  margin: 20px auto;
  text-align: center;
}

.Alert {
  position: fixed;
  left: 50%;
  top: 5px;
  transform: translate(-50%, 0);
  font-weight: 700;
  z-index: 10;
}

@media screen and (max-width: 450px) {
  .EventList {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}